#<h1>Average Temperature over time</h1>
#<%= area_chart SensorReading.group_by_minute(:created_at).average(:temperature), suffix: "째C" %>


<h1>Exercise 1 Sensor Readings</h1>
<%= line_chart SensorReading.group_by_week(:created_at).count(:exercise1), xtitle: "Date", ytitle: "Range of Motion (째)" %>

<h1>Exercise 2 Sensor Readings</h1>
<%= line_chart SensorReading.group_by_week(:created_at).count(:exercise2), xtitle: "Date", ytitle: "Range of Motion (째)" %>

<h1>Exercise 3 Sensor Readings</h1>
<%= line_chart SensorReading.group_by_week(:created_at).count(:exercise3), xtitle: "Date", ytitle: "Range of Motion (째)" %>